.frame {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;
  border: 1px solid #8c949e;
  border-radius: 999px;

  .checked {
    cursor: pointer;
    background: #000000;

    border-radius: 999px;
    width: 12px;
    height: 12px;
  }
}
