@use "../common/index.module.scss" as common;

.frame {
  position: relative;
  cursor: pointer;

  &:hover {
    .context {
      display: flex;
    }
  }

  .context {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
    z-index: 10;

    box-shadow: common.$shadow;
    border-radius: common.$border-radius;
    background-image: url("/asset/custom/red-blur.png");

    overflow: hidden;
    background-color: #fff;
    background-size: cover;
    animation: account 320ms ease;

    .item {
      display: flex;
      gap: 8px;
      align-items: center;
      padding: 12px;
      white-space: nowrap;
      cursor: pointer;
      min-width: 156px;

      &:hover {
        background-color: common.$hover-background;
      }
    }
  }

  .left {
    right: auto;
    left: 0;
  }

  .right {
    left: auto;
    right: 0;
  }
}

@keyframes account {
  from {
    transform: scale(95%);
  }
  to {
    transform: scale(100%);
  }
}
