$url-background: "/asset/image/discount-information-banner.png";
$content: "";
$flag-color: #ff8e55;

.frame {
  background-image: url($url-background);
  background-size: cover;
  background-position: center;

  .discount {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    text-align: center;
    width: 40px;
    background-color: $flag-color;
    border-radius: 2px;
    padding-top: 8px;
    color: white;

    .flag {
      position: absolute;
      top: 86%;
      right: 0;

      &::after {
        content: $content;

        border-left: 20px solid $flag-color;
        border-right: 20px solid $flag-color;
        border-top: 0px solid $flag-color;
        border-bottom: 16px solid transparent;
      }
    }
  }
}
