.frame {
  display: flex;
  flex-direction: column;

  gap: 8px;
  padding: 6px 4px;

  .editor {
    display: flex;
    flex-direction: column;

    line-height: 24px;
    gap: 16px;

    outline: none;
  }
}

.staticMode {
  pointer-events: none;
}
