$border-color: #919eab33;
$dot: #000;
$content: "";

.editor__table {
  display: grid;
  border-top: 1px solid $border-color;

  .table__item {
    border-bottom: 1px solid $border-color;
    padding: 8px 0px;
  }
}

.editor__title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 12px;
}

.editor__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .list__item {
    margin-left: 16px;
    position: relative;

    &::after {
      position: absolute;
      background-color: $dot;
      content: $content;

      left: -16px;
      top: calc(50% - 2px);
      border: 3px solid;
      border-radius: 4px;
    }
  }
}

.editor__content {
  line-height: 32px;
}
