$background: linear-gradient(90deg, #0000000f, #ffffff68, #00000010);

.frame {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  div {
    animation: account 4s ease infinite;
    background-size: 300%;
    border-radius: 6px;
  }

  .title {
    background-image: $background;
    width: 30%;
    height: 16px;
  }

  .element {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .first {
      background-image: $background;
      width: 80%;
      height: 48px;
    }

    .second {
      background-image: $background;
      width: 56%;
      height: 24px;
    }

    .third {
      background-image: $background;
      width: 100%;
      height: 64px;
    }
  }
  .handler {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .button {
      background-image: $background;
      width: 87px;
      height: 40px;
    }
  }
}

@keyframes account {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
