@use "../common/index.module.scss" as common;

$content: "";

.frame {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;

    border-width: 1px;
    width: 100%;
    padding: 48px;
    gap: 8px;

    background: common.$input-background;
    border-radius: common.$input-radius;
    overflow: hidden;
  }

  .input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: transparent;
  }

  .text {
    color: #6b7280;
  }

  .message {
    position: absolute;
    bottom: 50%;
    background-color: common.$error-message-background;
    border-radius: 12px;
    color: red;
    right: 4px;
    font-size: 12px;
    padding: 6px 12px;
    pointer-events: none;
    box-shadow: common.$shadow;

    &::after {
      border-top: 8px solid common.$error-message-background;
      border-bottom: 8px solid transparent;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      position: absolute;
      content: $content;
      right: 12px;
      top: 100%;
    }
  }
}
