.item {
  flex: 1;
  min-width: 452px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
  border-radius: 12px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-size: cover;
    height: 186px;
  }
}
