@use "../common/index.module.scss" as common;

$content: "";

.frame {
  display: flex;
  position: relative;
  flex-direction: column;
  user-select: none;

  flex: 1;
  gap: 6px;
}

.frame:focus .wrapper {
  display: block;
}

.overlay {
  align-items: center;
  position: fixed;
  justify-content: center;
  display: flex;

  inset: 0;
  z-index: 30;

  background-color: #f1f1f17f;
  backdrop-filter: blur(16px);
  animation: frame 180ms ease forwards;
}

.wrapper {
  flex-direction: column;
  border-width: 1px;
  background-color: #ffffffe1;
  box-shadow: common.$shadow;

  min-width: 356px;
  top: 100%;
  border-radius: common.$border-radius;
  opacity: 0;
  padding: 8px;

  animation: account 0.32s ease;
  animation: wrapper 180ms 320ms ease forwards;
  z-index: 20;
}

.action {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.button {
  border-radius: 9999px;
  border-width: 1px;
  box-shadow: common.$shadow;
  padding: 6px;
}

.icon {
  object-fit: contain;
  opacity: 0.5;
}

.element {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 8px;
}

.item {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 40px;
  border-radius: 9999px;
}

.content:hover {
  border: 1px solid #acb9c6;
  box-shadow: common.$shadow;
  transition-delay: 0.16s;
}

.label {
  font-size: 10px;
  width: 100%;
  padding: 4px 8px;
  height: 24px;
  color: common.$input-label-color;
}

.title {
  text-align: center;
  font-size: 10px;
  padding: 12px 0px;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid transparent;
  background: common.$input-background;
  border-radius: common.$input-radius;
  height: 48px;

  &:hover,
  &:focus-within {
    box-shadow: common.$shadow;
    border: 1px solid common.$input-border-hover;
    transition-delay: 0.16s;
  }
}

.trigger {
  display: flex;
  align-items: center;
  cursor: pointer;

  padding: 4px 8px 8px 8px;
  width: 100%;
  gap: 4px;
  height: 24px;
}

.message {
  position: absolute;
  bottom: 50%;
  background-color: common.$error-message-background;
  border-radius: 12px;
  right: 4px;
  color: #ff4646;
  font-size: 12px;
  padding: 6px 12px;
  pointer-events: none;
  box-shadow: common.$shadow;

  &::after {
    border-top: 8px solid common.$error-message-background;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    content: $content;
    right: 12px;
    top: 100%;
  }
}

@keyframes frame {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes wrapper {
  from {
    opacity: 0.25;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes wrapperOut {
  from {
    transform: translateX(1);
    opacity: 1;
  }

  to {
    transform: translateX(0.95);
    opacity: 0;
  }
}

@keyframes frameOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
