$padding: 24px;

.frame {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  z-index: 50;

  backdrop-filter: blur(4px);
  background-color: #00000033;

  animation: showFrame 0.16s ease forwards;

  .wrapper {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    max-width: 428px;
    border-radius: 16px;
    z-index: 50;
    opacity: 0.8;
    animation: showWrapper 0.16s 0.16s ease forwards;
    transform: scale(90%);
    gap: 24px;
    padding: $padding;
    opacity: 0;
    overflow: hidden;

    .title {
      font-size: 16px;
    }

    .description {
      text-align: center;
      font-size: 12px;
    }

    .extension {
      background: #f7f7f7;
      border-radius: 8px;
      padding: 12px;
    }

    .handler {
      padding: $padding;
      margin-top: 8px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@keyframes showFrame {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showWrapper {
  from {
    opacity: 0.8;
    transform: scale(90%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}
