@use "../../(components)/common/index.module.scss" as common;

$content: "";

$focus-color: #f6f6f6;
$focus-children-color: #f6f6f6;

.active {
  background-color: $focus-color;
}

.item {
  position: relative;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;

  &:hover {
    background-color: $focus-color;

    .menu {
      display: flex;
    }
  }

  .menu {
    display: none;
    position: absolute;
    box-shadow: common.$shadow;
    background: white;
    padding: 8px;

    width: 426px;
    border-radius: common.$border-radius;
    left: 0;
    opacity: 0;
    top: 100%;

    animation: menu 320ms 120ms ease forwards;
    transform-origin: top left;

    &::after {
      content: $content;
      position: absolute;

      top: -20px;
      left: 24px;

      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid transparent;
      border-bottom: 10px solid #ffffff;
    }

    .children {
      padding: 12px;
      border-radius: 4px;

      &:hover {
        background: $focus-children-color;
      }

      .frameImage {
        padding: 0px 8px;
        border-radius: 8px;
      }
    }
  }
}

@keyframes menu {
  from {
    opacity: 0.65;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
