@use "../common/index.module.scss" as common;

$padding-wrapper: 24px;
$blur: 8px;

.trigger {
  width: fit-content;
}

.frame {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  overflow: auto;

  top: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  right: 0px;

  background: #ffffffe3;
  animation: frame 180ms ease forwards;
  backdrop-filter: blur(16px);

  .wrapper {
    flex-direction: column;
    position: relative;
    height: fit-content;
    display: flex;

    z-index: 50;
    opacity: 0;

    background-color: #ffffffe2;
    animation: wrapper 180ms 320ms ease forwards;
    border-radius: common.$border-radius;
    box-shadow: common.$shadow;

    .loading {
      height: 156px;
    }

    .element {
      padding: $padding-wrapper;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 24px;
    }
  }

  .wrapperOut {
    animation: wrapperOut 0.2s forwards ease;
  }

  .frameOut {
    animation: frameOut 0.32s 0.12s ease;
  }
}

@keyframes frame {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes wrapper {
  from {
    opacity: 0.25;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes wrapperOut {
  from {
    transform: translateX(1);
    opacity: 1;
  }

  to {
    transform: translateX(0.95);
    opacity: 0;
  }
}

@keyframes frameOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
