$background: url("/asset/image/content/iphone-wallpaper.jpg");

.frame {
  border-radius: 40px !important;
  border-width: 6px;

  background-size: cover;
  background-position: center;
  border-color: #ffffff;

  background-image: $background;

  .phone {
    position: relative;
    display: flex;
    min-height: 750px;
    width: 100%;
    padding: 0px 24px;

    align-items: center;
    justify-content: center;
  }

  .dynamic {
    position: absolute;

    top: 0px;
    border-radius: 0px 0px 24px 24px;
    height: 28px;
    width: 65%;

    background-color: white;
  }

  .bar {
    position: absolute;

    bottom: 8px;
    border-radius: 48px;
    height: 6px;
    width: 35%;

    background-color: white;
  }

  .content {
    overflow: auto;

    max-height: 624px;
    width: 100%;
    border-radius: 16px;
  }
}
