.frame {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.itemsCenter {
  display: flex;
  align-items: center;
}

.itemsStart {
  display: flex;
  align-items: flex-start;
}

.itemsEnd {
  display: flex;
  align-items: flex-end;
}

.justifyBetween {
  display: flex;
  justify-content: space-between;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyStart {
  display: flex;
  justify-content: flex-start;
}

.justifyEnd {
  display: flex;
  justify-content: flex-end;
}

.fitContent {
  width: fit-content;
  flex: none;
}
