@use "../common/index.module.scss" as common;

$content: "";

.message {
  position: absolute;
  bottom: 80%;
  background-color: common.$error-message-background;
  border-radius: 12px;
  right: 4px;
  color: #ff4646;
  font-size: 12px;
  padding: 6px 12px;
  pointer-events: none;
  box-shadow: common.$shadow;

  &::after {
    border-top: 8px solid common.$error-message-background;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    content: $content;
    right: 12px;
    top: 100%;
  }
}
