$background: linear-gradient(90deg, #0000000f, #ffffff68, #00000010);

.frame {
  display: flex;
  flex-direction: column;
  padding: 24px 2.5vw;
  gap: 24px;

  div {
    animation: account 4s ease infinite;
    background-size: 300%;
    border-radius: 6px;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 20px;

    .circle {
      border-radius: 9999px;
      background-image: $background;
      width: 56px;
      height: 56px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .title {
        background-image: $background;
        width: 120px;
        height: 16px;
      }

      .doc {
        background-image: $background;
        width: 180px;
        height: 32px;
      }
    }
  }

  .body {
    display: flex;
    gap: 32px;

    .left {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 12px;

      .rectangular {
        flex: 1;
        background-image: $background;
        height: 256px;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .record {
          min-height: 16px;
          border-radius: 4px;
          background-image: $background;
        }
      }
    }

    .right {
      flex: 1;
      border-radius: 4px;
      background-image: $background;
      height: 326px;
    }
  }

  .session {
    flex: 1;
    border-radius: 4px;
    background-image: $background;
    min-height: 326px;
  }
}

@keyframes account {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
