.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  width: 100vw;
  height: 100vh;

  .title {
    font-weight: 700;
    font-size: 32px;
  }

  .list {
    display: flex;
    gap: 24px;

    .item {
      position: relative;
      border-width: 1px;
      border-color: #f3f4f6;
      background-color: #f9fafb;
      cursor: pointer;
      padding: 12px;
      border-radius: 120px;
      filter: grayscale(1);

      &:hover {
        background-color: #e5e7eb;
      }

      .session {
        position: absolute;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #ffffff;
        box-shadow: rgba(164, 176, 187, 0.2) 0px 0px 2px 0px,
          rgba(188, 198, 209, 0.12) 0px 12px 24px -4px;

        padding: 8px;
        border-radius: 4px;
        height: 26px;
        top: -12px;
        left: 8px;
      }
    }

    .active {
      filter: grayscale(0);
    }
  }
}
