@use "../common/index.module.scss" as common;

$content: "";

.frame {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  height: fit-content;
  min-height: 48px;

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: common.$input-radius;
    border: 1px solid transparent;
    background: common.$input-background;
    padding: 0px 4px;

    &:hover,
    &:focus-within {
      box-shadow: common.$shadow;
      border: 1px solid common.$input-border-hover;
      transition-delay: 0.16s;
    }

    .view {
      display: flex;
      align-items: center;
      padding: 8px;
      min-height: 24px;
    }

    .editor {
      display: inline-table;
      outline: none;
      background: none;
      width: 100%;
      padding-bottom: 2px;
      min-height: 24px;
    }
  }

  .silent {
    background: none;
    padding: 0px;
    pointer-events: none;
  }

  .label {
    font-size: 10px;
    width: 100%;
    padding: 4px;
    color: common.$input-label-color;
  }

  .icon {
    position: absolute;
    opacity: 0.5;
    left: 12px;
  }

  .message {
    position: absolute;
    bottom: 50%;
    background-color: common.$error-message-background;
    border-radius: 12px;
    right: 4px;
    color: #ff4646;
    font-size: 12px;
    padding: 6px 12px;
    pointer-events: none;
    box-shadow: common.$shadow;

    &::after {
      border-top: 8px solid common.$error-message-background;
      border-bottom: 8px solid transparent;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      position: absolute;
      content: $content;
      right: 12px;
      top: 100%;
    }
  }
}
