@use "../common/index.module.scss" as common;

.button {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  user-select: none;

  border-radius: 48px;
  height: 42px;
  padding: 0px 16px;
  gap: 8px;

  border: 1px solid #eaedf3;
  background: #5490ea0e;
  color: #47556c;
  font-size: common.$default-size;

  white-space: nowrap;

  &:active {
    animation: bounce 0.1s linear;
  }

  .children {
    font-weight: bold;
  }

  .loader {
    width: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: radial-gradient(farthest-side, #1b4d8f 100%, #0000) 50% 0/6px
        6px no-repeat,
      radial-gradient(
          farthest-side,
          #0000 calc(100% - 2px),
          #1b4d8f calc(100% - 2px)
        )
        content-box;
    animation: account 2s infinite;
  }
}

.sm {
  height: 32px;
  border-radius: 48px;
  box-shadow: none;
}

.main {
  background: common.$main-color;
  color: #ffffff;
  opacity: 1;

  &:hover {
    background: #45505a;
  }
}

@keyframes bounce {
  50% {
    transform: scale(0.9);
  }
}
