@use "../common/index.module.scss" as common;

.frame {
  display: flex;
  gap: 4px;
  align-items: center;

  .title {
    display: flex;
    align-items: center;

    gap: 6px;
    font-weight: bold;
    font-size: common.$large-size;
  }

  .lineClamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
