@use "../common/index.module.scss" as common;

.content {
  font-size: common.$default-size;
  position: relative;
}

.lineClamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
