$main-color: #36404a;

$input-background: #6688980e;
$input-border-hover: #d2dbe5;
$input-border: #e8ecf100;
$input-label-color: #9a9a9a;

$hover-background: #00000005;
$error-message-background: #ffffff;

$text-color: #000000;
$background-color: #ffffff;
$system-frame-background: #f8fafb;

$border-radius: 16px;
$input-radius: 8px;
$shadow: rgba(164, 176, 187, 0.2) 0px 0px 2px 0px,
  rgba(188, 198, 209, 0.12) 0px 12px 24px -4px;

$small-size: 11.6px;
$default-size: 12.2px;
$large-size: 12.8px;
